---
Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-nullability.*,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  bugprone-narrowing-conversions,
  bugprone-integer-division,
  bugprone-signed-char-misuse,
  bugprone-incorrect-roundings,
  bugprone-sizeof-expression,
  bugprone-misplaced-widening-cast,
  bugprone-unchecked-optional-access,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-unhandled-self-assignment,
  bugprone-unused-raii,
  bugprone-copy-constructor-init,
  bugprone-multiple-statement-macro,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-memory-comparison,
  cert-dcl51-cpp,
  cert-dcl58-cpp,
  cert-err34-c,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-noexcept-move-constructor,
  performance-trivially-destructible,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  performance-use-std-move,
  portability-simd-intrinsics,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-noexcept-destructor,
  cppcoreguidelines-noexcept-move-operations,
  cppcoreguidelines-noexcept-swap,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor

HeaderFilterRegex: '.*/include/AegisMath/.*'
FormatStyle: none
...
